@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Archivo", sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #D8D3CE;
    color: #111111;
}

li, a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 7rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    font-size: 1.2rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1 rem;
    font-weight: 400;
    line-height: 160%;
    margin-top: 0;
    margin-bottom: 0;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 30px 5%;
}

.logo {
    cursor: pointer;
    font-weight: 800;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

#apply {
    font-weight: 900;
}

.cover__writing {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 30px 5%;
    align-items: flex-end;
}

.landing__title {
    padding: 0 75px 0 0;
}

.pitch {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-top: 0.5px solid #8f8f8f;
    border-bottom: 0.5px solid #8f8f8f;
    margin-top: -0.5px;
    margin-bottom: -0.5px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.part__no {
    flex: 0.25;
}

.val__prop {
    flex: 1;
    padding-right: 50px;
}

.descrip {
    flex: 1.75;
}

.footie {
    display: flex;
    background: #111111;
    padding: 80px 5%; 
}

.footie h3 {
    font-size: 3rem;
    color:#D8D3CE;
}

@media all and (max-width: 1024px) {
    .cover__writing {
        display: block;
    }

    .landing__title {
        padding-bottom: 30px;
    }

    .pitch {
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .part__no {
        padding-bottom: 15px;
    }

    .val__prop {
        padding-bottom: 15px;
    }

    h2 {
        font-size: 4rem;
    }
}